@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.lds-dual-ring {
  display: inline-block;
  @include square(80px);
  @include positionCenter;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  @include square(64px);
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $primaryColor;
  border-color: $primaryColor transparent $primaryColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
