@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.move {
  @include flexCenterGap(10px);
  font-size: 15px;

  &__btn {
    @include flexCenter;
    padding: 7px;
    border: 1px solid $secondaryColor
  }

  &__icon {
    height: 20px;
    transition: transform $primaryTransition;
  }

  &__btn:hover &__icon {
    @include onDesktop {
      transform: translateY(-2px);
    }
  }
}