@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.additional-bar {
  &__list {
    @include navList;
    flex-direction: column;

    @include onDesktop {
      flex-direction: row;
    }
  }

  &__btn {
    display: flex;
  }
}