@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexCenterGap($_gap) {
  display: flex;
  align-items: center;
  gap: $_gap;
}

@mixin positionCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin square($_size) {
  width: $_size;
  height: $_size;
}

@mixin navList {
  display: flex;
  align-items: center;
  gap: 15px;
}