@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.header {
  &__wrapper {
    padding: 0 20px;

    @include onDesktop {
      padding: 0;
    }
  }

  &__top {
    display: none;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
    border-bottom: 1px solid $secondaryColor;

    @include onDesktop {
      @include flexCenterGap(45px);
    }
  }

  &__menu {
    height: $sHeaderHeight;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onDesktop {
      display: none;
    }
  }
}